.contacto {
    padding: 1rem;
    min-width: 300px;
    padding: 1rem;
    margin-left: 1rem;
    align-items: center;

    display: flex;

    flex-direction: column;
    justify-content: space-between;

    align-items: flex-start;

    flex-wrap: wrap;
    color: white;

}

.contacto1__enviar {
        border: 2px solid gold;
        background-color:gold;
        color: black;
        width: 300px;
        height: 30px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        position: relative;
        border-radius: 2rem;
        margin-top: 32px;
        margin-bottom: 32px;
        margin-left: 1rem;
        overflow: hidden;

}

#consulta.contacto {
  height: 149px;
}

.fondo {
    background-image: url(../imagenes/beatuful.jpg);
    background-size: cover;
    background-position: center;
}


.contenido {
    width: 400px;
    height: 400px;
    overflow: hidden;
    padding: 2rem;
    
}

.cristo {
    width: 100%;
    height: 100%;
    transition: transform 2s;
    object-fit: cover;
  }

/*.contenido:hover img {
    transform: scale(1.5);
}*/

  .animacion {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    animation-name: diego;
    animation-duration: 2s;
    animation-iteration-count: 3;
    animation-timing-function: ease-in-out;
    animation-delay: 5s;

  }

  @keyframes diego {
    0% {
        transform: rotate(0deg);
      }
    
      50% {
        transform: rotate(180deg);
      }
    
      100% {
        transform: rotate(0deg);
      }

  }
