.footer {
    background-color: $color-principal;
    color: white;
    padding: 1rem;

}

/*.footer__marca {
    width: 100px;
    height: 100px;

}*/

.parrafo__ds {
    text-align: center;
    font-size: 12px;
    font-style: normal;
    

}

.footer__redes {
    text-decoration: none;
    color: white;

}

a:hover {
    color: inherit;
    
}


.jam-whatsapp:before {
    color: green;
}

.jam-youtube:before {
    color: red;
}

.jam-instagram:before {
    color: chocolate;
}

