/*.seccion1__flex {
    width: 100%;
    border: 1px solid grey;
    padding: 1rem;
    background-color: blue;
    color:white;
    min-height: 500px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /*align-items: flex-end;*/

    /*flex-wrap: wrap;
    flex-flow: column wrap;
    align-content: center;*/ 

   /*background-image: url(../imagenes/nombreDeImagenEscuelaNumeroDos.jpg);
    background-size: cover;
    background-attachment: local;

    
}*/

.seccion1__item {
    border: 1px solid orange;
    border: none;
    color: white;
    width: 600px;
    height: 400px;
    text-align: center;
}

/*.seccion1__titulo {
    color: white;
    text-align: center;
    font-size: 30px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.seccion1__parrafo {
    color: white;
    font-weight: bold;
    text-align: justify;
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: 3rem;

}*/

.seccion1__ReservaTuClase {
    border: 2px solid gold;
    background-color: gold;
    color: black;
    width: 300px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: relative;
    border-radius: 2rem;
    margin-bottom: 4rem;
    overflow: hidden;

}

.texto {
    background-color: transparent;
    text-decoration-color: transparent;
  }

.Inscripcionesaclases {
    text-align: center;
    padding: 30px 0;
    
}

.titulouno {
    color: white;
    text-align: center;
    margin-top: 0.5rem;
}

.parrafouno {
    color: white;
    text-align: justify;
    margin-top: 1rem;
}





