
/* como creo una variable en SASS:
Sintaxis de como escribir una variable
$mivariable1: valorReutilizar;
*/

$color-principal: #003057;


/*.header {
    color: $color-principal;
}

.footer {
    color: $color-principal;
}*/


